.cart {
  display: table-header-group;
  margin-top: 2%;
  margin-right: 15%;
  width: 50%;
  float: right;
  margin-bottom: 10%;
  /*margin-top: 25%;*/
  /*margin-right: 50%;*/
}

#tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ccc;
}

#tg th {
  text-align: center;
}

#tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 5px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}

#tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #5bc0de;
}

table.text {
  width: 100%;
  border-spacing: 0;
}

table.text td {
  width: 50%;
  vertical-align: top;
}

td.rightcol {
  text-align: right;
}
.h2{
  margin-left: 52%;
}
.det{
  margin-left: 35%;
}
.tditem{
  text-align: center;
}
.body {
  background-color: #eee;
}
.empty{
  margin-left: 10%;
}
*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.3em;
}

*[role="form"] h2 {
  margin-left: 5em;
  margin-bottom: 1em;
}

.details {
  margin-left: 17%;
  /*margin-top: 10%;*/
}
.imageDel{
  width: 20px;
  height: 20px;
}
.imageDel:hover{
  background-color: #a94442;
}
