.cart{
  display:table-header-group;
  margin-top: 100px;
  margin-right: 25%;
  width: 50%;
  float: right;
  /*margin-top: 25%;*/
  /*margin-right: 50%;*/
}
#tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ccc;
}

#tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}

#tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #f0f0f0;
}

table.text {
  width: 100%;
  border-spacing: 0;
}

table.text td {
  width: 50%;
  vertical-align: top;
}

td.rightcol {
  text-align: right;
}
