.nav-cat {
  color: inherit;
}

.category-heading {
  padding-top: 3%;
  padding-left: 15%;
}

.category-heading h4 {
  font-size: 15px;
  font-family: Arial;
  font-style: normal;
  color: black;
}

.category-heading h4:before {
  float: left;
  content: "\f0c9";
  float: left;
  font-family: "FontAwesome";
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  padding-right: 5%;
  margin-top: -5px;
}

.login {
  margin-top: 8%;
  margin-left: 70px;
}

.login:hover {
  color: red;
}

.categ {
  float: left;
  margin-left: 4%;
  /*margin-top: -5.19%;*/
  margin-top: -6%;
}

.listcateg {
  margin-left: 30%;
  text-transform: uppercase;
}
.nav li a:hover{
  background-color: #cccccc;
}

.single {
  width: 15em;
  margin-left: 10px;
}

.single h3.side-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.single h3.side-title:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #ff173c;
  display: block;
  margin-top: 6px;
}

.single ul {
  margin-bottom: 0;
}

.single li div {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
  line-height: 40px;
  text-decoration: none;
}
.listyle {
  background: #337ab7;
  border-color: #46b8da;
  color: white;
}

.listyle1 {
  background: #5bc0de;
  border-color: #46b8da;
  color: white;
}

.listyle div:hover {
  background-color: #cccccc;
  color: black;
  left: 2em;
}

.single li:last-child div {
  border-bottom: 0;
}

.navbar-style {
  background: #5bc0de;
  border-color: #46b8da;
  border-bottom: hidden;
}

.navbar-new {
  margin-left: 30px;
}
