<p-growl [value]="msgs"></p-growl>
<div *ngIf="simpleList?.length > 0" class="list">
  <p-dataGrid [value]="simpleList" [paginator]="true" [rows]="18">
    <p-header>
      {{getTitle()}}
      <button class="add" *ngIf="getStatus()&&isAdmin()" (click)="addProduct()" class="btn btn-info">Add
      </button>
    </p-header>
    <template let-product pTemplate="item">
      <div class="ui-g-12 ui-md-4 product products">
        <p-panel [header]="product?.title" [style]="{'text-align':'center'}">
          <img class="img" [src]="getImage(product?.id)">
          <div class="price">{{product?.price}} руб.</div>
          <hr class="ui-widget-content" style="border-top:0">
          <div>
            <button (click)="gotoDetail(product)" class="btn btn-info detail">View Details</button>
          </div>
          <div>
            <button (click)="addToCart(product)" class="btn btn-info button">Add to cart</button>
            <button *ngIf="getStatus()&&isAdmin()" (click)="delete(product)"
                    class="btn btn-info button">Delete
            </button>
          </div>
        </p-panel>
      </div>
    </template>
  </p-dataGrid>
</div>
<div align="center" *ngIf="simpleList?.length === 0">
  <h2 class="notfound">Items not found</h2>
  <button *ngIf="getStatus()&&isAdmin()" (click)="addProduct()" class="btn btn-info notfound">Add new
    product
  </button>
</div>
