.product {
  margin-right: 30%;
  width: 25%;
  float: right;
}

.img {
  width: 150px;
  height: 150px;

}

.img-div {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 40%;
}
.description{
  width: 10%;
}
.bb{
  float: left;
}
.cb{
  float: right;
}
