<div class="product">
  <p-growl [value]="msgs"></p-growl>
  <div *ngIf="product">
    <h2 align="center">{{product?.title}} information</h2>
    <div align="center">
      <button *ngIf="isLoggin()&&isAdmin()" (click)="deleteProduct(product.id)" class="btn btn-info">Delete
      </button>
    </div>
    <table class="table">
      <thead class="thead-inverse">
      </thead>
      <div class="img-div">
        <img class="img" [src]="getImage(product?.id)">
      </div>
      <tbody>
      <tr>
        <th scope="row">Id</th>
        <td>{{product?.id}}</td>
      </tr>
      <tr>
        <th scope="row">Title</th>
        <td>{{product?.title}}</td>

      </tr>
      <tr>
        <th scope="row">Price</th>
        <td>{{product?.price}} руб.</td>

      </tr>
      <tr>
        <th scope="row">Description</th>
        <td style="width: 10%">{{product?.description}}</td>

      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button style="float: left" (click)="goBack()" class="btn btn-info">Back</button>
    <button style="float: right" (click)="addToCart(product)" class="btn btn-info">To cart</button>
  </div>
</div>
