<p-growl [value]="msgs"></p-growl>
<div *ngIf="simpleList?.length > 0" class="list">
  <p-dataGrid [value]="simpleList" [paginator]="true" [rows]="18">
    <p-header>
      {{getTitle()}}
      <button style="float: inherit" *ngIf="getStatus()&&isAdmin()" (click)="addProduct()" class="btn btn-info">Add
      </button>
    </p-header>
    <template let-product pTemplate="item">
      <div style="padding:20px" class="ui-g-12 ui-md-4 product">
        <p-panel [header]="product?.title" [style]="{'text-align':'center'}">
          <img class="img" [src]="getImage(product?.id)">
          <div style="margin-top: 10px;margin-bottom: -5px">{{product?.price}} руб.</div>
          <hr class="ui-widget-content" style="border-top:0">
          <div>
            <button (click)="gotoDetail(product)" class="btn btn-info" style="margin-bottom: 5px">View Details</button>
          </div>
          <div>
            <button style="float: inherit" (click)="addToCart(product)" class="btn btn-info">Add to cart</button>
            <button style="float: inherit" *ngIf="getStatus()&&isAdmin()" (click)="delete(product)"
                    class="btn btn-info">Delete
            </button>
          </div>
        </p-panel>
      </div>
    </template>
  </p-dataGrid>
</div>
<div align="center" *ngIf="simpleList?.length === 0">
  <h2>Items not found</h2>
  <button style="float: inherit" *ngIf="getStatus()&&isAdmin()" (click)="addProduct()" class="btn btn-info">Add new
    product
  </button>
</div>
